<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Symfony</title>
  <style>
    body {
      margin: 0;
      padding: 0;
    }

    .text-center {
      text-align: center;
    }

    .container {
      width: 100vw;
      height: 100vh;
    }
  </style>
</head>

<body>
  <div class="container text-center">
    <div class="row center-xs top-xs">
      <div class="col-xs-6">
        <h3 class="title">URL-Cutter</h3>
      </div>
    </div>

    <div class="row center-xs middle-xs">
      <div class="col-xs-6">
        <form action="">
          <input type="text">
          <button type="submit">Go!</button>
          <input type="text" id="uriResult">
        </form>
      </div>
    </div>
  </div>
</body>

</html>
