<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Url Info</title>
    <style>
        .contrainer {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100vw;
            height: 100vh;
        }
        .item {
            width: 100%;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="contrainer">
        <div class="item">
            <h3>This URL has been deleted or was not created.</h3>
            <a href="/">Jump to main page</a>
        </div>
    </div>
</body>
</html>
